body {
    margin: 0px;
    padding: 0px;
}

nav {
    margin-bottom: 20px;
}

nav img {
    width: 5em;
    height: 3em;
}

.nav-item:hover {
    background-color: #BAFFB4;
}

.current {
    background-color: rgb(16, 218, 184);
}

.goog-te-combo {
    padding: 5px;
    background-color: #000;
    color: white;
    border-radius: 10px;
}

.goog-logo-link {
    display: none !important;
}

.goog-te-gadget {
    color: transparent !important;
}

.precision-title {
    margin: auto;
    text-align: center;
    font-size: 1.2em;
}

.precision-instru {
    margin: auto;
    text-align: center;
}


/* Disease Detection*/

.browse-btn {
    padding: 10px;
}

.upload-form {
    display: flex;
    justify-content: center;
    align-items: center;
}

.upper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.3em;
}

.upper a {
    background-color: rgb(135, 0, 247);
    color: azure;
}

.main {
    display: flex;
}

.upper {
    display: flex;
}

.imgs {
    width: 25%;
}

.reports {
    width: 75%;
}

@media screen and (max-width: 991px) {
    .main {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .reports {
        width: 100%;
    }
}

@media screen and (max-width: 768px) {
    .upper {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .imgs {
        width: 50%;
    }
}