body {
    margin: 0px;
    padding: 0px;
    background-color: rgb(219, 255, 237);
}

#cropSelection {
    margin-top: 1%;
}

#mode-switch mt-2 {
    margin-left: 5%;
}

.sliderbtn {
    display: flex;
}

#checkboxsecure {
    margin-left: 5%;
}

#modeslider {
    margin-right: 10%;
}

#watering {
    margin-left: 5%;
    animation: blinker 1.5s linear infinite;
    color: red;
    font-family: sans-serif;
}

#security {
    margin-left: 5%;
    animation: blinker 1.5s linear infinite;
    color: red;
    font-family: sans-serif;
}

@keyframes blinker {
    50% {
        opacity: 0;
    }
}

#P0 {
    display: flex;
    margin-top: 2%;
}

#P1 {
    display: flex;
    margin-top: 2%;
}

#P2 {
    display: flex;
    margin-top: 2%;
}

#P3 {
    display: flex;
    margin-top: 4%;
}

#P4 {
    display: flex;
    margin-top: 4%;
}

#P5 {
    display: flex;
    margin-top: 4%;
}

#P6 {
    display: flex;
    margin-top: 4%;
}

#P7 {
    display: flex;
    margin-top: 4%;
}

#P8 {
    display: flex;
    margin-top: 4%;
}

#P9 {
    display: flex;
    margin-top: 4%;
}

#P10 {
    display: flex;
    margin-top: 4%;
}

#P11 {
    display: flex;
    margin-top: 4%;
}

#P12 {
    display: flex;
    margin-top: 4%;
}

#P13 {
    display: flex;
    margin-top: 4%;
}

#P14 {
    display: flex;
    margin-top: 4%;
}

#P15 {
    display: flex;
    margin-top: 4%;
}

#moist {
    margin-left: 5%;
}

#age {
    margin-left: 5%;
}

#mode {
    margin-left: 5%;
}

#totalage {
    display: flex;
    margin-left: 5%;
}

#mode-switch {
    display: flex;
}

#N {
    margin-left: 5%;
}

#P {
    margin-left: 5%;
}

#K {
    margin-left: 5%;
}

nav {
    margin-bottom: 20px;
}

nav img {
    width: 5em;
    height: 3em;
}

.nav-item:hover {
    background-color: #BAFFB4;
}

.current {
    background-color: rgb(16, 218, 184);
}

.goog-te-combo {
    padding: 5px;
    background-color: #000;
    color: white;
    border-radius: 10px;
}

.goog-logo-link {
    display: none !important;
}

.goog-te-gadget {
    color: transparent !important;
}


/* HOME  */

.chatbox {
    margin: auto;
    padding: 25px;
}

.chat-border {
    padding: 10px 30px 10px;
    border: 2px solid orangered;
}

.skip-chat {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.chatbox a {
    background-color: #ffff66;
    font-size: 1.5em;
    padding: 15px;
    border-radius: 10px;
    color: red;
}

.welcome-msg {
    font-size: 3em;
    font-weight: 700;
    display: block;
    text-decoration: underline;
    margin-bottom: 10px;
    font-family: 'Source Serif Pro', serif;
}

.features {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}

.feature {
    /* border: 2px solid red; */
    width: 16%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.heading {
    width: 100%;
    height: 3.2em;
    background-color: #646FD4;
    font-family: 'Lato', sans-serif;
    font-family: 'Source Serif Pro', serif;
    font-weight: bold;
}

.body {
    width: 100%;
    background-color: #9BA3EB;
    height: 100%;
    font-size: 1.2em;
    display: flex;
    justify-content: center;
    padding: 3px;
}

@media screen and (max-width: 1100px) {
    .features {
        margin-top: 20px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    .feature {
        /* border: 2px solid red; */
        width: 80%;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        margin-top: 20px;
    }
}

@media screen and (max-width: 1350px) {
    .upload-form {
        display: flex;
        flex-direction: column;
    }
    .smt-btn {
        padding-left: 80px;
    }
}


/* Crop Prediction */

.form-container {
    display: flex;
    justify-content: space-between;
}

.mainform {
    width: 50%;
    padding: 10px;
}

.mainform label {
    font-size: 1.2em;
}

.form-img {
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 2px solid red; */
    width: 50%;
}

.form-img img {
    width: 50%;
    height: 70%;
    border-radius: 50%;
}

@media screen and (max-width: 990px) {
    .form-img img {
        width: 55%;
        height: 45%;
    }
}

@media screen and (max-width: 500px) {
    .form-img img {
        width: 55%;
        height: 30%;
    }
}

.group {
    margin-top: 5px;
    margin-bottom: 5px;
}


/* PRECISON AGRI */

.precision-title {
    margin: auto;
    text-align: center;
    font-size: 1.2em;
}

.precision-instru {
    margin: auto;
    text-align: center;
}


/* Disease Detection*/

.browse-btn {
    padding: 10px;
}

.upload-form {
    display: flex;
    justify-content: center;
}

.smt-btn {
    height: 10%;
    width: 15%;
    border-radius: 10px;
}

.smt-btn img {
    width: 47%;
    margin: 0px;
}


/* SMART FARMING*/

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: red;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked+.slider {
    background-color: green;
}

input:focus+.slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked+.slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

.blink {
    animation: blinker 1s step-start infinite;
    color: red;
}

@keyframes blinker {
    50% {
        opacity: 0;
    }
}

.no-blink {
    color: rgb(0, 124, 6);
}

.plant-name-input {
    display: flex;
    justify-content: center;
}

.input-div {
    width: 50%;
    display: flex;
    justify-content: end;
}

.ips {
    width: 50%;
}

.water-level {
    justify-content: start;
    margin-left: 3px;
}

.mode-switch {
    display: flex;
    justify-content: center;
    align-items: center;
}

.nutri-box {
    padding: 5px;
    /* border: 2px solid red; */
}

.nutri-box p {
    height: 50%;
    margin: 0;
    font-size: 1.5em;
    color: #29335c;
    font-weight: bold;
}

.nutri-box:nth-child(2) {
    margin-left: 5px;
    margin-right: 5px;
}

@media screen and (max-width: 1165px) {
    .plant-name-input {
        display: flex;
        flex-direction: column;
        align-items: end;
        justify-content: end;
    }
    .ips {
        width: 100%;
    }
    .water-level {
        justify-content: center;
        margin-top: 3px;
    }
    .input-div {
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    .panel {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .left-half,
    .right-half {
        /* border: 2px solid red; */
        width: 100%;
    }
    .panel {
        display: flex;
        flex-direction: column;
        width: 200%;
        align-items: s;
        justify-content: start;
    }
    .motor-control {
        flex-direction: row;
        border: 2px solid #000;
        align-items: center;
    }
    .motor-control h3 {
        flex-direction: column;
    }
    .displays {
        flex-direction: column;
    }
    .nutri-box:nth-child(2) {
        margin-left: 0px;
        margin-right: 0px;
    }
}

.panel {
    display: flex;
}

.displays {
    display: flex;
}

.left-half,
.right-half {
    /* border: 2px solid red; */
    width: 50%;
    display: flex;
    flex-direction: column;
}

.motor-control h3 {
    display: flex;
    justify-content: end;
    width: 50%;
}

.motor-control label {
    /* //class="switch d-flex justify-content-end ml-2 */
    display: flex;
    justify-content: end;
    margin-left: 3px;
}


/* ABT */

.contact {
    background-color: #07131C;
    padding: 10px;
    border-radius: 15px;
}

.aim {
    width: 95%;
}