<%- include('header', {current:"CropPrediction" , role:"farmer"}) %>

    <h1 class="text-center mb-0"><b>Crop Prediction</b></h1><br>
    <div class="form-container ">

        <div class="mainform  ">
            <form class="well form-horizontal" action=" " method="post" id="contact_form">



                <div class="group">
                    <label class="col-md-4 control-label">Temperature</label>
                    <div class="input-group">
                        <input name="temp" placeholder="Temperature in Kelvin" class="form-control" step="0.01" type="number" required>
                    </div>
                </div>

                <div class="group">
                    <label class="col-md-4 control-label">Humidity</label>
                    <div class="input-group">
                        <input name="humi" placeholder="Percentage Humidity" class="form-control" step="0.01" type="number" min="0" max="100" required>
                    </div>
                </div>

                <div class="group">
                    <label class="col-md-4 control-label">Rainfall</label>
                    <div class="input-group">
                        <input name="rainfall" placeholder="Rainfall in mm" class="form-control" step="0.01" type="number" min="0" required>
                    </div>
                </div>


                <div class="group">
                    <label class="col-md-4 control-label">Nitrogen Content</label>
                    <div class="input-group">
                        <input name="nitrogen" placeholder="N" class="form-control" type="number" step="0.01" min="0" required>
                    </div>
                </div>

                <div class="group">
                    <label class="col-md-4 control-label">Phosphorus Content</label>
                    <div class="input-group">
                        <input name="phosphorus" placeholder="P" class="form-control" type="number" step="0.01" min="0" required>
                    </div>
                </div>

                <div class="group">
                    <label class="col-md-4 control-label">Potassium Content</label>
                    <div class="input-group">
                        <input name="potassium" placeholder="K" class="form-control" type="number" step="0.01" min="0" required>
                    </div>
                </div>

                <div class="group">
                    <label class="col-md-4 control-label">pH VALUE</label>
                    <div class="input-group">
                        <input name="pH" placeholder="pH" class="form-control" type="number" min="0" step="0.01" max="14" required>
                    </div>
                </div>



                <!-- Button -->
                <div class="group">

                    <div class="col-md-4">&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                        <button type="submit" class="btn btn-warning">&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbspSUBMIT
                            <span
                                class="glyphicon glyphicon-send"></span>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</button>
                    </div>
                </div>


                <!-- Success message -->
                <div class="alert alert-success group" role="alert" id="success_message">
                    <%= info %> <i class="glyphicon glyphicon-thumbs-up"></i>
                </div>


            </form>
        </div>

        <div class="form-img">
            <img src="images/cp.jpg" alt="">
        </div>



    </div>



    <%- include('footer'); %>