<%- include('homeHeader' ); %>

    <div class="background-img-contain">

        <div class="mt-5 pt-5">
            <div class="container">
                <h1 class="text-center text-success">Understanding How To Use Our Product</h1>
                <h3>1) Login </h3>
                <h6>1] Login as a farmer or a expert with the correct credentials.</h6>
                <h3>2) AgriGIS</h3>
                <h6>1] AgriGIS helps the farmer and expert to know more information of the particular area in India like geographical and weather conditions as well give information like which crop is best to produce in this region and it's production.</h6>
                <h3>3) Expert Visiting the Farm</h3>
                <h6>1] Expert will visit the farm and guide the farmer to take the essential values from the NPK and ph sensors which is further needed for crop scope.</h6>
                <h3>4) Crop Scope</h3>
                <h6>1] After Expert taking the values from the sensors will put all the details on the Crop Scope page and our ML model will predict which <span style="color: green; font-weight: bold;">3 best crops</span> to grown on that farm based on
                    <span style="font-weight: bold;">geographical conditions and market demand</span>.</h6>
                <h6>2] For Temperature and Humidity values are fetched realtime from the DHT22 sensor.</h6>
                <h3>5) Farm Brain</h3>
                <h6>1] Expert then puts all information on this page such that the crops information will be visible to the farmers.</h6>
                <h6>2] We have provided two modes of operation <span style="color: red; font-weight: bold;">Automatic</span> and <span style="color: green; font-weight: bold;">Manual</span> to make smart water management system. In <span style="color: red; font-weight: bold;">Automatic</span>                    mode hardware will take care of watering the plants and no user involvement is required.</h6>
                <h6>3] In <span style="color: green; font-weight: bold;">Manual</span> mode, user involvement is required where the user is able to switch <span style="color: green; font-weight: bold;">ON</span> or <span style="color: red; font-weight: bold;"> OFF </span>the
                    motor based on seeing the Moisture level whether it's <span style="color: green; font-weight: bold;">Adequate</span> or <span style="color: red; font-weight: bold;">Inadequate</span>. </h6>
                <h6>4] Watering status will be shown if the Motor is ON.</h6>
                <h6>5] If the hardware is in offline state then it will be displayed on this page with <span style="color: red; font-weight: bold;">red circle</span>.</h6>
                <h6>6] If there is any kind of harm to the farm due to fire or any other animals interference then the user will be alerted by activating the buzzer as well as it will be displayed by <span style="color: red; font-weight: bold;">red circle</span>                    on website.</h6>
                <h3>6) Crop Facts</h3>
                <h6> 1] This gives the farmer all the information related to the diseases of common crops and it's cure such that the farmer will able to prevent any such diseases in the early stage of farming. </h6>
                <h3>7) Talk2Pro</h3>
                <h6> 1] This is a platform build to connect a farmer with the expert such that in the future if there are any issues faced by the farmers then expert can guide them accordingly.</h6>
                <h6> 2] Farmers can raise 1 of the 2 Query types <span style="font-weight: bold;">Normal</span> or <span style="font-weight: bold;">Disease</span>. In <span style="font-weight: bold;">Normal</span>, farmer will be able to ask any generl]al
                    query to the expert and expert will solve that query by replying or contacting the farmers where all contact details are given of the farmers on the experts page.</h6>
                <h6> 3] In <span style="font-weight: bold;">Disease</span>, Farmers need to raise a query related to crop disease by uploading an image of that unhealthy crop such that expert will view the image from his/her account and contact the farmer
                    accordingly to solve the issue.</h6>

                <h3>8) Sky Track</h3>
                <h6>1] This predicts the weather based on the <span style="font-weight: bold;">realtime weather</span>conditions which will help the farmers to know the weather beforehand and take necessary precautions.</h6>

                <h3>9) Multilingual Website</h3>
                <h6>1] Our whole website is in multiple Indian languages.</h6>
            </div>
        </div>




    </div>



    <%- include('newFooter' ); %>



        </html>