<%- include('homeHeader' ); %>

    <div class="background-img-cover">

        <div class="mt-5 pt-5">
            <div class="container">
                <h1 class="text-center text-success">CUSTOMER CENTRIC PRODUCT</h2>
                    <div class="text-center ">
                        <h5>
                            Welcome to the future of agriculture! Our startup is revolutionizing the way farmers cultivate their crops, utilizing cutting-edge technologies such as machine learning, IoT, and artificial intelligence. With our advanced crop prediction algorithms, you
                            can optimize your planting strategies, maximize yields, and make informed decisions every step of the way. Our smart watering system ensures that your plants receive the perfect amount of hydration, conserving water resources
                            while promoting healthy growth. Stay one step ahead of Mother Nature with our weather forecast system , providing real-time updates on weather patterns and enabling you to adapt your farming practices accordingly. And with
                            our state-of-the-art plant disease detection, you can identify potential threats early on, taking proactive measures to protect your valuable crops.
                        </h5>
                    </div>
                    <div>
                        <h6 class="text-center alert-success mb-5 p-1 rounded">
                            Join us on this exciting journey towards sustainable and efficient agriculture, where technology meets nature for bountiful harvests and a thriving future.
                        </h6>
                    </div>
                    <hr style="border-top: 6px dotted #000000;" class="w-75 my-3">
                    <h1 class="text-center text-success mt-5">IMPACT WE MAKE ON THE SOCIETY</h1>
                    <div class="text-center">
                        <h5>
                            Igniting a Green Revolution! Our startup is on a mission to redefine the future of farming. Through our visionary smart agriot solution, powered by mind-bending machine learning, IoT wizardry, and AI brilliance, we empower farmers to predict, adapt, and
                            conquer. Unleash the power of crop prediction sorcery, witness the magic of our smart watering system, and command the forces of weather through our enchanting forecast system. Defeat the dark forces of plant diseases with
                            our relentless detection prowess. Together, we'll forge a new era of agricultural wizardry, where fields flourish and communities thrive.
                        </h5>
                    </div>
                    <div>
                        <h6 class="text-center alert-success mb-5 p-1 rounded">
                            Join us as we conjure an impact that will be whispered across the ages!
                        </h6>
                    </div>
            </div>
        </div>




    </div>



    <%- include('newFooter' ); %>



        </html>