<%- include('homeHeader' ); %>

    <div class="background-img-cover" style="height: 100vh;">

        <div class="mt-5 pt-5">
            <div>
                <h1 class="display-1 font-weight-bold text-center w-75 mx-auto "> SOON TO BE ANNOUNCED !
                </h1>

            </div>
        </div>




    </div>



    <%- include('newFooter' ); %>



        </html>